/* Colors */
/* Fonts */
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "rb-light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "rb-bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "rb-medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "rb-thin";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto-regular"; }

html {
  height: 100%; }

body {
  background-color: white;
  height: 100%; }

main {
  display: inline-block;
  background: #f1f1f1;
  min-height: 1000px; }
  @media only screen and (min-width: 1040px) {
    main {
      display: flex; } }

@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 10%, 0);
    opacity: 0;
    transform: translate3d(0, 10%, 0); }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0); } }

@keyframes spin {
  0% {
    -moz-transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg); }
  100% {
    -moz-transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg); } }

.left {
  background: #f1f1f1; }
  @media only screen and (min-width: 1040px) {
    .left {
      flex: 0 0 60%; } }
  .left__wrapper {
    margin: 0;
    box-shadow: 4px 4px 4px 0 rgba(223, 223, 223, 0.5);
    background: #ffffff;
    padding: 45px 49px; }
    @media only screen and (min-width: 1040px) {
      .left__wrapper {
        margin: 64px 72px; } }
  .left__title {
    width: 100%;
    font-size: 64px;
    color: #152935;
    font-family: "rb-light";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    margin-bottom: 40px; }

.right {
  background: #333333;
  color: #ffffff;
  font-family: "rb-light";
  padding: 30px; }
  @media only screen and (min-width: 1040px) {
    .right {
      flex: 0 0 40%; } }
  .right__logoCont {
    text-align: right; }
  .right__logo {
    background: url(../images/logo_400x400.png);
    width: 100px;
    height: 26px;
    display: inline-block;
    background-size: 100%; }
  .right__textContent {
    margin-top: 80px;
    padding: 28px;
    padding: 0 28px 0 57px; }
  .right__titular {
    font-size: 28px;
    font-family: "rb-light";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.2px;
    margin-bottom: 40px; }
    .right__titular span {
      font-weight: bold; }
  .right__texto1, .right__texto2, .right__texto3 {
    padding: 0 0 0 60px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px; }
  .right__texto3 a {
    color: #ffffff; }

.beer {
  border-bottom: solid 2px #dfe3e6;
  padding: 10px 0px;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
  .beer__title {
    position: relative;
    cursor: pointer; }
    .beer__title h2 {
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      font-family: "roboto-regular";
      color: #517489;
      padding: 0 0 0 20px; }
    .beer__title::before {
      width: 6px;
      height: 6px;
      border-right: solid 1px #4a90e2;
      border-bottom: solid 1px #4a90e2;
      content: '';
      position: absolute;
      transform: rotate(-47deg);
      top: 8px;
      left: -1px; }
  .beer__data {
    display: flex;
    padding: 20px 20px 10px 20px;
    display: none; }
  .beer__img {
    flex: 0 0 20%; }
    .beer__img img {
      width: 100%; }
  .beer__dataWrapper {
    flex: 0 0 80%;
    padding: 10px 20px 20px 30px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #152935; }
  .beer__tips {
    margin-bottom: 10px; }
  .beer-show .beer__data {
    display: flex;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp; }
  .beer-show .beer__title::before {
    top: 6px;
    animation: spin 1s cubic-bezier(0, 0.72, 0.57, 0.99);
    transform: rotate(44deg); }

/*# sourceMappingURL=maps/style.css.map */
