<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Componente accordion Vue</title>
  <meta name="keywords" content="">
  <meta name="description" content="">

  <!-- build:css assets/styles/main.css -->
  <link rel="stylesheet" href="assets/temp/style.css">
  <!-- endbuild -->

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>

</head>
<body>



	<main id="app">

		<section class="left">
			<div class="left__wrapper">
				<h1 class="left__title">Title</h1>
				<article
					@click.capture="doThis($event)"
					v-for="beer in beers" class="beer">
					<div class="beer__title">
					<h2>{{ beer.name }}</h2>
				</div>
				<div class="beer__data">
					<figure class="beer__img">
						<img v-bind:src="beer.image_url" alt="">
					</figure>
					<div class="beer__dataWrapper">
						<p class="beer__tips">
							{{ beer.brewers_tips }}
						</p>
						<p class="beer__description">
							{{ beer.description }}
						</p>
					</div>
				</div>
			</article>
		</div>
	</section>
	<section class="right">
		<div class="right__logoCont">
			<i class="right__logo"></i>
		</div>
		<div class="right__textContent">
			<p class="right__titular">Te proponemos el reto de crear un componente <span>accordion</span> teniendo en cuenta los siguientes puntos:</p>
			<p class="right__texto1">Utilizar Vue, o en su defecto algún otro framework de JS (React, Angular, jQuery). También podrías optar por usar Vanilla JS como última opción. No usar librerías o frameworks de CSS tales como Bootstrap.
				El componente tiene que ser creado desde cero.</p>
				<p class="right__texto2">Usa un preprocesador de CSS como puede ser SASS. Se valorará el uso de BEM, qué sea accesible a nivel AA y la limpieza del código.</p>
				<p class="right__texto3">Puedes usar cualquier API que quieras, por ejemplo ésta: <a href="https://punkapi.com/">https://punkapi.com/</a></p>
			</div>
		</section>

	</main>
	<script>

	const app = new Vue({
		el: '#app',
		data: {
				beers: [],
				show: false,
				isActive: true
		},
		created(){
			fetch('https://api.punkapi.com/v2/beers')
			.then( response => response.json() )
			.then(json => {
				this.beers = json.slice(0,4)
			})
		},
		methods: {
			doThis: event => {
				const clickClass = event.path[2].className
				if (clickClass === 'beer') {
					event.path[2].className = 'beer beer-show'
				}else if (clickClass === 'beer beer-show') {
					event.path[2].className = 'beer'
				}
			}

		}
	})

	</script>
</body>


</html>
