// Media queries

@mixin atSmall() {
  @media only screen and (min-width: 700px) {
    @content;
  }
}

@mixin atLarge() {
  @media only screen and (min-width: 1040px) {
    @content;
  }
}

@mixin atExtraLarge() {
  @media only screen and (min-width: 1370px) {
    @content;
  }
}

@mixin onlyMobile() {
  @media only screen and (max-width: 699px) {
    @content;
  }
}

@mixin onlyTablet() {
  @media only screen and (min-width: 700px) and (max-width: 1039px) {
    @content;
  }
}

@mixin onlyMobileAndTablet() {
  @media only screen and (max-width: 1039px) {
    @content;
  }
}

@mixin swiperBreackpointEnabled() {
  @media only screen and (max-width: 942px) {
    @content;
  }
}

@mixin swiperBreackpointDisabled() {
  @media only screen and (min-width: 943px) {
    @content;
  }
}

@mixin animateUp($duration, $animateName){
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-duration: $duration;
  animation-fill-mode: both;
  -webkit-animation-name: $animateName;
  animation-name: $animateName;
}
// rotate
@mixin rotate($rotate, $animateName){
  animation: $animateName 1s cubic-bezier(0, 0.72, 0.57, 0.99);
  transform: rotate($rotate);
}
