.beer{
  border-bottom: solid 2px #dfe3e6;
  padding: 10px 0px;
    @include animateUp(1s, fadeInUp);
  &__title{
    position: relative;
    cursor: pointer;
    h2{
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      font-family: $roboto;
      color: $c3;
      padding: 0 0 0 20px;
    }
    &::before{
      width: 6px;
      height: 6px;
      border-right: solid 1px $c1;
      border-bottom: solid 1px $c1;
      content: '';
      position: absolute;
      transform: rotate(-47deg);
      top: 8px;
      left: -1px;
    }
  }
  &__data{
    display: flex;
    padding: 20px 20px 10px 20px;
    display: none;
  }
  &__img{
    flex: 0 0 20%;
    img{
      width: 100%;
    }
  }
  &__dataWrapper{
    flex: 0 0 80%;
    padding: 10px 20px 20px 30px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $c2;
  }
  &__tips{
    margin-bottom: 10px;
  }
  &-show{
    .beer__data{
      display: flex;
      @include animateUp(1s, fadeInUp);
    }
    .beer__title{
      &::before{
        top: 6px;
        @include rotate(44deg, spin);
      }
    }
  }
}
