.left{
  @include atLarge() {
    flex: 0 0 60%;
  }
  background: $c4;
  &__wrapper{
    margin: 0;
    box-shadow: 4px 4px 4px 0 rgba(223, 223, 223, 0.5);
    background: $c4-bis;
    padding: 45px 49px;
    @include atLarge() {
      margin: 64px 72px;
    }
  }
  &__title{
    width: 100%;
    font-size: 64px;
    color: $c2;
    font-family: $rb-light;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    margin-bottom: 40px;
  }
}
.right{
  background: $c5;
  color: $c4-bis;
  font-family: $rb-light;
  padding: 30px;
  @include atLarge() {
    flex: 0 0 40%;
  }
  &__logoCont{
    text-align: right;
  }
  &__logo{
    background: url(../images/logo_400x400.png);
    width: 100px;
    height: 26px;
    display: inline-block;
    background-size: 100%;
  }
  &__textContent{
    margin-top: 80px;
    padding: 28px;
    padding: 0 28px 0 57px;
  }
  &__titular{
    font-size: 28px;
    font-family: $rb-light;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.2px;
    margin-bottom: 40px;
    span{
      font-weight: bold;
    }
  }
  &__texto1{
    padding: 0 0 0 60px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  &__texto2{
    @extend .right__texto1;
  }
  &__texto3{
    @extend .right__texto1;
    a{
      color: $c4-bis;
    }
  }
}
